<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Length:</strong>
  <%= @boat.length %>
</p>


<p>
  <strong>Description:</strong>
  <%= @boat.description %>
</p>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
