<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="header-fixed-top">
    <div class="header-menu-right"><%= link_to('login') %> | <%= link_to('register') %></div>
    <div class="header-brand">Marina Athena</div>
    </header>
    <%= page_heading %>
    <%= yield %>
    <footer class="footer-fixed-bottom">Copyright <%= Time.now.year %> Marina Athena</footer>
  </body>
</html>
